body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

h1, h2, h3 {
  font-weight: bold;
}

.hero {
  background-image: url("../images/building.png");
  color: white;
}

.hero h1 {
  font-size: 70px;
}

.nav-link {
  font-size: 18px;
  color: white;
}

.supporting h3, .hero h2 {
  font-size: 23px;
}

.supporting-item p {
  font-size: 14px;
}

.footer {
  background-color: dimgray;
  font-size: 11px;
  color: white;
  text-align: left;
}
